body {
    color:brown
}
  .titulo-pagina {
    text-align: center;
    font-size: 24pt;
  }
  h1 {
    text-align: center;
    font-size: 15pt;
  }
  .titulo-filosofia {
    text-align: center;
    font-size: 24pt;
  }
  .titulo-prazos {
    text-align: center;
    font-size: 24pt;
  }
